.card-label-container {
    position: absolute;
    margin-top: .2rem;
    border-end-end-radius: 4px;
    border-start-end-radius: 4px;
}

.title {
    font-size: 16px;
    text-shadow: 4px 3px 2px 2px #000000;
}