<div class="card-container">
  <div class="card">
    <a href="#" class="card-image">
      <img
        src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg"
        alt=""
        class="card-image"
    /></a>

    <div class="platform-container">
        <p class="platform">Playstation 4</p>
    </div>

    <div class="category-container">
      <p class="category">Ação</p>
      <p class="category">Aventura</p>
    </div>

    <div class="pricing-container">
      <p class="pricing">&#36; 299,90</p>
    </div>

    <a href="#" class="card-image">
        <img
          src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg"
          alt=""
          class="card-image"
      /></a>
  
      <div class="platform-container">
          <p class="platform">Playstation 4</p>
      </div>
  
      <div class="category-container">
        <p class="category">Ação</p>
        <p class="category">Aventura</p>
      </div>
  
      <div class="pricing-container">
        <p class="pricing">&#36; 299,90</p>
      </div>

      <a href="#" class="card-image">
        <img
          src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg"
          alt=""
          class="card-image"
      /></a>
  
      <div class="platform-container">
          <p class="platform">Playstation 4</p>
      </div>
  
      <div class="category-container">
        <p class="category">Ação</p>
        <p class="category">Aventura</p>
      </div>
  
      <div class="pricing-container">
        <p class="pricing">&#36; 299,90</p>
      </div>

      <a href="#" class="card-image">
        <img
          src="https://br.web.img3.acsta.net/pictures/22/11/30/19/53/5856320.jpg"
          alt=""
          class="card-image"
      /></a>
  
      <div class="platform-container">
          <p class="platform">Playstation 4</p>
      </div>
  
      <div class="category-container">
        <p class="category">Ação</p>
        <p class="category">Aventura</p>
      </div>
  
      <div class="pricing-container">
        <p class="pricing">&#36; 299,90</p>
      </div>
  </div>
</div>
